/*** SYMBOLE QUEEL ***/
.qeel1 a[href="/u1"]:before,.qeel3 a[href="/u1"]:before {
  content: '❃' !important;
  color: #985779 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u2"]:before,.qeel3 a[href="/u2"]:before {
  content: '❃' !important;
  color: #AC889E !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u3"]:before,.qeel3 a[href="/u3"]:before {
  content: '❃' !important;
  color: #AC889E !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u4"]:before,.qeel3 a[href="/u4"]:before {
  content: '❃' !important;
  color: #AC889E !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u5"]:before,.qeel3 a[href="/u5"]:before {
  content: '❃' !important;
  color: #8DA0BE !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u31"]:before,.qeel3 a[href="/u31"]:before {
  content: '❃' !important;
  color: #AC889E !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u34"]:before,.qeel3 a[href="/u34"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u46"]:before,.qeel3 a[href="/u46"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u65"]:before,.qeel3 a[href="/u65"]:before {
  content: '❃' !important;
  color: #AC889E !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u88"]:before,.qeel3 a[href="/u88"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u121"]:before,.qeel3 a[href="/u121"]:before {
  content: '❃' !important;
  color: #8DA0BE !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u137"]:before,.qeel3 a[href="/u137"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u157"]:before,.qeel3 a[href="/u157"]:before {
  content: '❃' !important;
  color: #AC889E !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u180"]:before,.qeel3 a[href="/u180"]:before {
  content: '❃' !important;
  color: #AC889E !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u16"]:before,.qeel3 a[href="/u16"]:before {
  content: '❃' !important;
  color: #8DA0BE !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u128"]:before,.qeel3 a[href="/u128"]:before {
  content: '❃' !important;
  color: #8DA0BE !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u10"]:before,.qeel3 a[href="/u10"]:before {
  content: '❃' !important;
  color: #8DA0BE !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u101"]:before,.qeel3 a[href="/u101"]:before {
  content: '❃' !important;
  color: #AC889E !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u168"]:before,.qeel3 a[href="/u168"]:before {
  content: '❃' !important;
  color: #AC889E !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u145"]:before,.qeel3 a[href="/u145"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u134"]:before,.qeel3 a[href="/u134"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u132"]:before,.qeel3 a[href="/u132"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u87"]:before,.qeel3 a[href="/u87"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u39"]:before,.qeel3 a[href="/u39"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u129"]:before,.qeel3 a[href="/u129"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}
.qeel1 a[href="/u110"]:before,.qeel3 a[href="/u110"]:before {
  content: '❃' !important;
  color: #757BA3 !important;
  margin-right: 2px !important;
}