/*** SYMBOLE QUEEL ***/
.qeel1 a[href="/u1"]:before,.qeel3 a[href="/u1"]:before {content: '❃';color: #985779;margin-right: 2px;}
.qeel1 a[href="/u2"]:before,.qeel3 a[href="/u2"]:before {content: '❃';color: #AC889E;margin-right: 2px;}
.qeel1 a[href="/u3"]:before,.qeel3 a[href="/u3"]:before {content: '❃';color: #AC889E;margin-right: 2px;}
.qeel1 a[href="/u4"]:before,.qeel3 a[href="/u4"]:before {content: '❃';color: #AC889E;margin-right: 2px;}
.qeel1 a[href="/u5"]:before,.qeel3 a[href="/u5"]:before {content: '❃';color: #8DA0BE;margin-right: 2px;}
.qeel1 a[href="/u31"]:before,.qeel3 a[href="/u31"]:before {content: '❃';color: #AC889E;margin-right: 2px;}
.qeel1 a[href="/u34"]:before,.qeel3 a[href="/u34"]:before {content: '❃';color: #757BA3;margin-right: 2px;}
.qeel1 a[href="/u46"]:before,.qeel3 a[href="/u46"]:before {content: '❃';color: #757BA3;margin-right: 2px;}
.qeel1 a[href="/u65"]:before,.qeel3 a[href="/u65"]:before {content: '❃';color: #AC889E;margin-right: 2px;}
.qeel1 a[href="/u88"]:before,.qeel3 a[href="/u88"]:before {content: '❃';color: #757BA3;margin-right: 2px;}
.qeel1 a[href="/u121"]:before,.qeel3 a[href="/u121"]:before {content: '❃';color: #8DA0BE;margin-right: 2px;}
.qeel1 a[href="/u137"]:before,.qeel3 a[href="/u137"]:before {content: '❃';color: #757BA3;margin-right: 2px;}
.qeel1 a[href="/u157"]:before,.qeel3 a[href="/u157"]:before {content: '❃';color: #AC889E;margin-right: 2px;}
.qeel1 a[href="/u180"]:before,.qeel3 a[href="/u180"]:before {content: '❃';color: #AC889E;margin-right: 2px;}
.qeel1 a[href="/u16"]:before,.qeel3 a[href="/u16"]:before {content: '❃';color: #8DA0BE;margin-right: 2px;}
.qeel1 a[href="/u128"]:before,.qeel3 a[href="/u128"]:before {content: '❃';color: #8DA0BE;margin-right: 2px;}
.qeel1 a[href="/u10"]:before,.qeel3 a[href="/u10"]:before {content: '❃';color: #8DA0BE;margin-right: 2px;}
.qeel1 a[href="/u101"]:before,.qeel3 a[href="/u101"]:before {content: '❃';color: #AC889E;margin-right: 2px;}
.qeel1 a[href="/u168"]:before,.qeel3 a[href="/u168"]:before {content: '❃';color: #AC889E;margin-right: 2px;}
.qeel1 a[href="/u145"]:before,.qeel3 a[href="/u145"]:before {content: '❃';color: #757BA3;margin-right: 2px;}
.qeel1 a[href="/u134"]:before,.qeel3 a[href="/u134"]:before {content: '❃';color: #757BA3;margin-right: 2px;}
.qeel1 a[href="/u132"]:before,.qeel3 a[href="/u132"]:before {content: '❃';color: #757BA3;margin-right: 2px;}
.qeel1 a[href="/u87"]:before,.qeel3 a[href="/u87"]:before {content: '❃';color: #757BA3;margin-right: 2px;}
.qeel1 a[href="/u39"]:before,.qeel3 a[href="/u39"]:before {content: '❃';color: #757BA3;margin-right: 2px;}
.qeel1 a[href="/u129"]:before,.qeel3 a[href="/u129"]:before {content: '❃';color: #757BA3;margin-right: 2px;}
.qeel1 a[href="/u110"]:before,.qeel3 a[href="/u110"]:before {content: '❃';color: #757BA3;margin-right: 2px;}